<launch>
    <node pkg="maze_solver" type="maze_solver.py" name="maze_solver" output="screen"/>
    <node pkg="maze_solver" type="robot_position_broadcaster.py" name="robot_position_broadcaster" output="log"/>
    <node pkg="maze_solver" type="scan_shifter.py" name="scan_shifter" output="log"/>
    <include file="$(find cartographer_config)/cartographer.launch"/>
    <include file="$(find lab6)/launch/follow_trajectory_maze.launch"/>
    <include file="$(find wall_follower)/launch/safety_test.launch"/>
</launch>
